<mat-toolbar class="inner-header" color="primary" fxLayout="row" fxLayoutAlign="space-between center" >
  <div >
    <button mat-icon-button aria-label="icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
  </div>
  <div >
    <button class="header-button" mat-icon-button aria-label="icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
      <span>Login</span>
    </button>
    <button class="header-button" mat-icon-button aria-label="icon-button with share icon">
      <mat-icon>share</mat-icon>
      <span>Register</span>
    </button>
  </div>
</mat-toolbar>
