
.upper-section{
  margin: 10px;
  padding: 20px 10px 10px 10px;
  height: 20%;
  box-sizing: border-box;
}

.bottom-section{
  margin: 10px;
  padding: 20px 10px 10px 10px;
  height: 20%;
  box-sizing: border-box;
}

.card-content{
  width: 100%;
}
