<app-header class="header-height"
(loginChange)="openDialog()"
[isLoggedIn]="isLoggedIn"></app-header>
<div class="main-height">
  <ng-container *ngIf="!isLoggedIn">
    <div class="outer-container" fxLayoutAlign="space-between center">
      <div fxLayout="column" class="inner-container">
        <h1>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Vivamus in cursus massa.
        </h1>
        <div>
          Fusce elit enim, porta at lacus at, placerat luctus tellus.
          Aenean id eleifend quam. Quisque quis nulla semper, condimentum risus ac, tempor justo.
          Maecenas ac pretium felis. Nunc convallis maximus sapien, in commodo sapien dignissim non.
        </div>
        <button class="inner-button" mat-raised-button (click)="login()">Try for Free</button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="isLoggedIn">
    <app-workspace (logoutChange)="logout()"></app-workspace>
  </ng-container>
</div>
<app-footer class="footer footer-height"></app-footer>
